@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #242424;
}

.white {
  color: white;
}

.container {
  padding: 20px 40px;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-bottom: white;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
}

.infinite {
  display: flex;
  align-items: center;
}

.infinite-title {
  font-size: 16px;
  padding-left: 6px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 12px;
  text-decoration: none;
}

.border-white {
  border-radius: 11px;
  border-color: white;
  color: black;
  background-color: white;
  text-align: center;
  padding: 6px 24px;
  transition: all 300ms ease-in-out;
}

.link__hover--effect {
  position: relative;
}

.link__hover--effect-white:after {
  background-color: white;
}
.link__hover--effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}
.link__hover--effect:hover::after {
  left: 0;
  width: 100%;
}

.contact-link__hover--effect:hover {
  background-color: #999;
}

/*

header

*/

.header-text-wrapper {
  text-align: center;
  padding-top: 2rem;
}

.header-title {
  font-size: 64px;
  color: white;
  font-weight: 900;
}

.header-subtitle {
  color: white;
  padding: 1rem 0;
  font-size: 24px;
}

.search-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
}

.search-bar:focus {
  border-color: #999;
  outline: none;
}

.search-bar {
  display: flex;
  border-radius: 9999px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  padding: 16px 40px;
  width: 100%;
  color: white;
}

.search-button {
  position: absolute;
  border-style: none;
  background-color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 9999px;
  align-items: center;
  width: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  margin: 5px;
  transition: all 300ms ease-in-out;
}

.search-button:hover {
  background-color: #999;
}

/*

THE REAL SHIT BEGINS

*/

.movie-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


select {
  color: white;
  border-radius: 9999px;
}

.search-results {
  display: flex;
  justify-content: space-between;
}

.results-title {
  color: #999;
}

.movie-list {
  display: flex;
}


.movie {
  max-width: 300px;
  width: 100%;
  padding-top: 1rem;
  padding-right: 1rem;
}

.movie-img {
  width: 100%;
  position: relative;
}

.movie-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}

.movie-explanation:hover .movie-background {
  opacity: 0.75;
}

figure {
  position: relative;
}

.movie-details {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 35%;
  transform: translateY(50%);
  opacity: 0;
  transition: all 300ms ease-in-out;
  color: white;
  background-color: transparent;
}

.movie-explanation:hover .movie-details {
  opacity: 1;
  transform: translateY(-50%);
}

.movie-explanation {
  color: white;
  font-weight: 900;
  transition: all 300ms ease-in-out;
}

.yellow {
  color: gold;
}

.movie-description {
  text-align: center;
  color: white;
}
